@import "../sass/abstract/constants";
@import "../sass/abstract/placeholders";
@import "../sass/abstract/mixins";

.cart-item {
  margin-bottom: 30px;
  display: flex;
  @extend %font-secondary;
  @include font(1.6rem, 2.6rem);
  letter-spacing: -0.9px;
  color: $color-text-primary;
}

.cart-item:last-child {
  margin-bottom: 0;
}

.cart-item-product {
  width: 55%;
  display: flex;
}

.cart-item-price {
  width: 15%;
  text-align: end;
}

.cart-item__total {
  width: 15%;
  text-align: end;
}

.cart-item__image {
  margin-right: 30px;
}

.cart-item__product-info {
  display: flex;
  flex-direction: column;
}

.cart-item__title {
  @extend %font-primary;
  @include font(2.6rem, 5.8rem);
  letter-spacing: -0.9px;
  color: $color-text-primary;
}

.remove_button {
  padding: 8px 0;
  @extend %font-secondary;
  @include font(1.8rem, 2.6rem, 400);
  letter-spacing: -0.9px;
  text-decoration-line: underline;
  color: $color-primary;
  background: none;
  border: 1px solid $color-light;
}

.remove_button:hover {
  color: $color-text-primary;
}

.cart-item-quantity-wrapper {
  position: relative;
  width: 15%;
}

.cart-item-quantity-border {
  position: absolute;
  right: -20px;
  width: 92px;
  border: 1px solid $color-primary;
}

.quantity-form {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.quantity-form__number {
  width: 30px;
  height: 30px;
  @extend %font-secondary;
  @include font(1.8rem, 2.6rem, 400);
  letter-spacing: -0.9px;
  color: $color-quantity-number;
  text-align: center;
  border: none;
}

.quantity-form__plus,
.quantity-form__minus {
  padding: 0;
  width: 20px;
  height: 30px;
  @extend %font-secondary;
  @include font(1.8rem, 2.6rem, 400);
  text-align: center;
  letter-spacing: -0.9px;
  color: $color-primary;
  background: none;
  border: none;
  cursor: pointer;
}

.quantity-form__minus {
  padding-left: 10px;
  color: $color-quantity-minus;
}

.quantity-form__plus {
  padding-right: 10px;
}
