.about-shop-page {
  padding: 175px 355px 110px;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-shop-content {
  padding: 33px 96px 63px;
  background: rgba(247, 248, 250, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-shop__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  color: #1d252c;
}

.about-shop__text {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.about-shop__link {
  text-decoration: none;
}
