$color-light: #ffffff;
$color-primary: #56b280;
$color-text-primary: #272727;
$color-error-text: red;

$color-input-border: #898989;
$color-input-placeholder: #616161;

$color-modal-background: rgba(0, 0, 0, 0.4);

$color-navbar-text: #272727;

$color-textarea-text: #272727;
$color-textarea-border: #898989;
$color-textarea-placeholder: #616161;

$color-quantity-number: #1d252c;
$color-quantity-minus: #a7a7a7;

$color-catalog-title: #0b254b;
$color-catalog-text: #5e6e89;
$color-catalog-item-box-shadow: rgba(0, 0, 0, 0.15);
$color-catalog-item-box-shadow-hover: rgba(0, 0, 0, 0.3);
$color-catalog-item-title: #1d293f;

$color-about-shop-background: rgba(247, 248, 250, 0.8);
$color-about-shop-title: #1d252c;

$color-cart-divisor: #e5e5e5;
$color-cart-empty-message: #818181;
$color-cart-tax-text: #9e9e9e;
$color-cart-button: #a8a8a8;

$color-product-description: #839a8e;
$color-product-description-bold: #1d252c;
$color-product-description-border: #e6e6e6;
