@import "../../sass/abstract/constants";
@import "../../sass/abstract/placeholders";
@import "../../sass/abstract/mixins";

.about-shop-page {
  padding: 175px 355px 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../../img/bg.jpg);
  background-size: cover;
}

.about-shop-content {
  padding: 33px 96px 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend %font-primary;
  background: $color-about-shop-background;
  backdrop-filter: blur(12px);
  border-radius: 2px;
}

.about-shop__title {
  margin: 0;
  @include font(4rem, 5.8rem);
  color: $color-about-shop-title;
}

.about-shop__text {
  margin-bottom: 45px;
  @include font(1.8rem, 2.6rem, 400);
}

.about-shop__link {
  text-decoration: none;
}
