.navbar {
  position: fixed;
  padding: 20px 170px 20px 165px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #272727;
  background: #ffffff;
  z-index: 3;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  display: flex;
}

.logo:hover {
  transition: all 1.5s;
  transform: scale(1.1);
}

.navbar__logo-icon {
  margin-right: 6px;
}

.logo__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  color: #56b280;
}

.navbar__links {
  padding-left: 0;
  display: flex;
  list-style: none;
}

.navigation__item {
  margin-left: 70px;
  cursor: pointer;
}

.navigation__link {
  color: #272727;
  text-decoration: none;
}

.navigation__link:hover {
  color: #56b280;
}

.tools {
  padding-left: 0;
  display: flex;
  list-style: none;
}

.tools__item {
  margin-right: 20px;
  cursor: pointer;
}

/* ICONS */

.icon_logo {
  width: 35px;
  height: 34px;
  display: inline-block;
  background-image: url(../../../icons/icon_logo.svg);
}

.icon_login {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-image: url(../../../icons/icon_login.svg);
}

.icon_cart {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-image: url(../../../icons/icon_cart.svg);
}
